.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
h1 {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0em;
  margin-bottom: 16px;
  margin-top: 127px;
}

@media (max-width: 1200px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
}



@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
}

@media (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .catalog_main-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
}
